@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    left: 0;
    top: 0;
    margin: 0;
    font-family: poppins;
    transition: 1s all ease;
}

:root{
    --bg: white;
    --tc: black;
}

.dark{
    --bg: black;
    --tc: white;
}

/*================== SCROLL ==================*/

::-webkit-scrollbar{
    width: 5px;
    height: 1px;
}

::-webkit-scrollbar-track{
    border: 7px solid white;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.5) inset;
}

::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background: linear-gradient(
        45deg,
        #FFF5E1,
        cadetblue
    );
}

html{
    background-color: var(--bg);
}

header{
    left: 0;
    height: 12vh;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    transition: none;
}

header #logo{
    padding: 0.8%;
    animation-name: aparicion_arriba;
    animation-duration: 6s;
    cursor: pointer;
}

.caja_derecha_text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.caja_derecha_text a{
    text-decoration: none;
    color: var(--bg);
}

.caja_derecha_text a:hover{
    color: var(--tc);
    transition: 0.5s ease all;
}

.caja_derecha_text img{
    visibility: hidden;
    cursor: pointer;
}

main{
    height: 88vh;
    background-color: var(--bg);
    display: flex;
    transition: all 2s ease;
}

.caja_izquierda{
    height: 100%;
    width: 57%;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja_izquierda .caja_centro_izquierda #titulo{
    animation-name: aparicion_izquierda;
    animation-duration: 3s;
    
}

.caja_centro_izquierda{
    background-color: var(--bg);
    color: var(--tc);
    height: 80%;
    width: 80%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.caja_centro_izquierda h1{
    font-family: poppins;
    font-size: 55px;
    color: var(--tc);
}

.caja_centro_izquierda p{
    animation-name: aparicion_abajo;
    animation-duration: 5s;
    color: var(--tc);
}

.caja_derecha{
    height: 100%;
    width: 43%;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja_derecha_centro{
    height: 80%;
    animation: 
    aparicion_derecha 2s ease,
    movimiento 1.8s ease-in-out infinite 2s;
}

.caja_derecha_centro img{
    width: 400px;
}

.caja_fijada{
    height: 15%;
    background-color: cadetblue;
    border-radius: 10px;
    width: 30%;
    position: fixed;
    top: 80%;
    left: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px solid var(--tc);
    animation-name: aparicion_abajo;
    animation-duration: 8s;
}

.caja_fijada_2{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 15vh;
    background-color: cadetblue;
    border-radius: 10px;
    left: 90%;
    top: 20%;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid var(--tc);
    animation-name: aparicion_derecha;
    animation-duration: 8s;
}

.caja_fijada img:hover{
    cursor: pointer;
}

.caja_fijada_2 img:hover{
    cursor: pointer;
}

section{
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
    position: fixed;
    transform: translateY(100vh);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20%;
}

section a{
    color: var(--bg);
    text-decoration: none;
}

@keyframes aparicion_derecha{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}

@keyframes aparicion_izquierda{
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}

@keyframes aparicion_arriba{
    0%{
        transform: translatey(-100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}

@keyframes aparicion_abajo{
    0%{
        transform: translatey(100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}

@keyframes movimiento{
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
}

@media (max-width: 750px) {
    main{
        background-color: var(--bg);
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 10%;
        transition: all 2s ease;
    }

    .caja_fijada{
        width: 70%;
        left: 15%;
    }

    .caja_fijada_2{
        left: 80%;
        width: 13%;
        height: 40%;
    }

    .caja_fijada_2 a{
        justify-content: center;
        align-items: center;
        width: 70% !important;
        height: 20% !important;
    }
    
}

@media (max-width: 550px){

    header{
        justify-content: space-around !important;
    }

    .caja_derecha_text a{
        visibility: hidden;
    }

    .caja_derecha_text img{
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding-right: 10%;
        margin-left: 80% !important;
    }

    main{
        gap: 50%;
        height: 100vh;
    }

    .caja_derecha{
        visibility: hidden;
    }

    .caja_derecha img{
        visibility: visible;
        width: 120%;
        transform: translateY(-50%);
    }

    .caja_centro_izquierda h1{
        font-size: 25px;
    }

    .caja_fijada{
        top: 85%;
        width: 100%;
        left: 0%;
        bottom: 0%;
    }

    .caja_fijada_2{
        height: 27%;
    }

    .caja_fijada_2 a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60% !important;
        height: 15% !important;
    }

    
}

@media (max-width: 300px){
    .caja_derecha_text img{
        margin-left: 40% !important;
    }

    .caja_fijada_2{
        visibility: hidden;
        transition: none;
    }

    .caja_derecha img{
        transform: translateY(50%);
    }
}